<div class="footer">
    <div class="main-footer container">
        <div class="footer-logo space">
            <a href="{{partials.footer.vertical_navbar[0].href}}"> <img src="{{partials.footer.logo.url}}"/></a>
        </div> 
       <div class="space">
            <div class="sidenav">
            {% for entry in partials.footer.vertical_navbar %}
                <a href="{{entry.href}}">{{entry.title}}</a>
            {% else %}
                    <li>This would display if the 'item' collection were empty</li>
            {% endfor %}
            
            </div>
        </div>
        <div class="links space">
            <h2>{{partials.footer.connect_title}}</h2>
            <a href="{{partials.footer.connect[0].href}}"><i href="#" class="fa fa-google"></i>{{partials.footer.connect[0].title}}</a>
            <a href="{{partials.footer.connect[1].href}}"><i href="#" class="fa fa-facebook"></i>{{partials.footer.connect[1].title}}</a>
            <a href="{{partials.footer.connect[2].href}}"><i href="#" class="fa fa-twitter"></i>{{partials.footer.connect[2].title}}</a>
            <a href="{{partials.footer.connect[3].href}}"><i href="#" class="fa fa-youtube"></i>{{partials.footer.connect[3].title}}</a>
        </div>
    </div>
</div>
<div class="sticky-footer">
    <div class="copy">{{partials.footer.copyright}}</div>
        <div class="social">
            <a href="{{partials.footer.connect[1].href}}" class="fa fa-facebook"></a>
            <a href="{{partials.footer.connect[2].href}}" class="fa fa-twitter"></a>
            <a href="{{partials.footer.connect[0].href}}" class="fa fa-google"></a>
            <a href="{{partials.footer.connect[3].href}}" class="fa fa-youtube"></a>
        </div>      
    </div>
</div>
   
