<!doctype html>
<html>
    <meta charset="utf-8">
    <title>CMS TASK</title>
    <head> 
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="../static/javascripts/myjs.js"></script>
    </head>
    <body>

        
        {% include "../partials/header.html" %}
        {% include "../partials/abtesting.html" %}
        
        {% block main_body %} {% endblock %}
        
        
        {% include "../partials/footer.html" %}
        
    
    </body>
</html>
